#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#header_image{
    position:fixed;
    right: 0; 
    top: 0;
    min-width: 100vw; 
    max-height: 100vh;
}

#splash_image{
    position:fixed;
    right: 0;
    
    
    
    
}